// SECTION main :: START

section#main.main.dashboard.position-relative

	.main__bg.main__bg-0.position-absolute.w-100.h-100
		img.main__bg-img.main__bg-img-1.position-absolute(src="img/img-main-bg-1.png" srcset="img/img-main-bg-1@2x.png 2x, img/img-main-bg-1@3x.png 3x" alt="" title="")

	.main__wrapper.dashboard__wrapper.dashboard__wrapper-0.position-relative

		.container
			.row
				.col

					.dashboard__option.py-2.py-lg-0
						.container
							.row
								.col-12.col-md-7.d-flex.align-items-center.flex-wrap.flex-lg-nowrap

									.dropdown.dropdown--bg.mr-sm-4
										button#dropdownDashOptionNew.btn.dropdown-toggle.d-flex.align-items-center.justify-content-center(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											span!= 'New window'
										.dropdown-menu.animate.slideIn(aria-labelledby='dropdownDashOptionNew')
											.dropdown-menu-corner.position-absolute
											.dropdown-menu-wrapper.d-flex.flex-column
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "New Marketwatch"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "New Chart"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "New Option Chain"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "New Heatmap"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "New Order Book"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "All Positions"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "Tile Windows"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "Default Windows"

									.dropdown.dropdown--border.ml-auto.ml-md-0.mr-lg-4
										button#dropdownDashOptionStrategy.btn.dropdown-toggle.d-flex.align-items-center.justify-content-center(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											span!= 'Select Strategy'
										.dropdown-menu.animate.slideIn(aria-labelledby='dropdownDashOptionStrategy')
											.dropdown-menu-corner.position-absolute
											.dropdown-menu-wrapper.d-flex.flex-column
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "Select All"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "Stop And Reverse"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "Stop And Reverse"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "Gama scalping"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "Stop And Reverse"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "Calendar Spread"

									.dropdown.dropdown--border.pt-2.pt-lg-0
										button#dropdownDashOptionDay.btn.dropdown-toggle.d-flex.align-items-center.justify-content-center(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											span!= 'Select Day/Expiry'
										.dropdown-menu.animate.slideIn(aria-labelledby='dropdownDashOptionDay')
											.dropdown-menu-corner.position-absolute
											.dropdown-menu-wrapper.d-flex.flex-column
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "Today"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "Weekly"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "Monthly"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "Quarterly"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "6 Months"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "Yearly"

								.col-12.col-md-5.d-flex.align-items-center.justify-content-between.justify-content-md-start.justify-content-lg-end.py-2.flex-wrap.flex-lg-nowrap
									.dashboard__option-pl.d-flex.flex-column
										p!= "P&L:"
										span!= "$ 2300 (1.15%)"
									.dashboard__option-margin.d-flex.flex-column.pl-3.pl-md-5
										p!= "Margin:"
										span!= "$ 50k"
									.dashboard__option-exposure.d-flex.flex-column.pt-md-2.pt-lg-0.pl-3.pl-md-0.pl-lg-5.mr-md-auto.mr-lg-0
										p!= "Exposure:"
										span!= "$ 5 Mil"

	.main__wrapper.dashboard__wrapper.dashboard__wrapper-1

		.container
			.row
				.col

					.dashboard__block-wrapper

						.dashboard__block.dashboard__block-notification

							.dashboard__block-header.pl-3.position-relative.d-flex.align-items-center.justify-content-between
								a.dashboard__block-close.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
									i.icon-font.icon-close

								p.dashboard__block-title!= "Notifications"

								.dashboard__block-header--option.d-flex.align-items-center
									.dropdown
										button#dropdownDashBlockMore.btn.dropdown-toggle.d-flex.align-items-center.justify-content-center.pl-0.pr-0(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											i.icon-font.icon-more
										.dropdown-menu.animate.slideIn(aria-labelledby='dropdownDashBlockMore')
											.dropdown-menu-corner.position-absolute
											.dropdown-menu-wrapper.d-flex.flex-column
												a.dropdown-item.d-flex.align-items-center(href='#')
													div
														i.icon-font.icon-cvs
													div
														span!= "Export as CSV"
												a.dropdown-item.d-flex.align-items-center(href='#')
													div
														i.icon-font.icon-garbage
													div
														span!= "Delete list"

							.dashboard__block-body.pl-3.pr-3.pb-4

								table.table.mb-0
									tbody
										tr
											td.pl-0
												p!= "<span>April 30 |</span> <span>12:35:10 pm</span>"
											td
												span Order Submitted to lorem ipsum dolor sit amet, integer ornare aenean morbi nam, iaculis accumsan, dignissim quam
										tr
											td.pl-0
												p!= "<span>April 30 |</span> <span>12:35:10 pm</span>"
											td
												span Order Submitted to lorem ipsum dolor sit amet, integer ornare aenean morbi nam, iaculis accumsan, dignissim quam
										tr
											td.pl-0
												p!= "<span>April 30 |</span> <span>12:35:10 pm</span>"
											td
												span Order Submitted to lorem ipsum dolor sit amet, integer ornare aenean morbi nam, iaculis accumsan, dignissim quam
										tr
											td.pl-0
												p!= "<span>April 30 |</span> <span>12:35:10 pm</span>"
											td
												span Order Submitted to lorem ipsum dolor sit amet, integer ornare aenean morbi nam, iaculis accumsan, dignissim quam

						.dashboard__block.dashboard__block-orderBook

							.dashboard__block-header.pl-3.position-relative.d-flex.align-items-center.justify-content-between
								a.dashboard__block-close.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
									i.icon-font.icon-close

								p.dashboard__block-title!= "Order Book"

								.dashboard__block-header--option.d-flex.align-items-center
									.dropdown
										button#dropdownDashBlockMore.btn.dropdown-toggle.d-flex.align-items-center.justify-content-center.pl-0.pr-0(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											i.icon-font.icon-more
										.dropdown-menu.animate.slideIn(aria-labelledby='dropdownDashBlockMore')
											.dropdown-menu-corner.position-absolute
											.dropdown-menu-wrapper.d-flex.flex-column
												a.dropdown-item.d-flex.align-items-center(href='#')
													div
														i.icon-font.icon-cvs
													div
														span!= "Export as CSV"
												a.dropdown-item.d-flex.align-items-center(href='#')
													div
														i.icon-font.icon-garbage
													div
														span!= "Delete list"

							.dashboard__block-body.pl-3.pr-3.pb-4

								.table-responsive
									table.table.mb-0
										thead
											tr
												th(scope="col").pl-0 Date/Time
												th(scope="col") Symbol
												th(scope="col") Qty
												th(scope="col") Limit Price
												th(scope="col") Value
												th(scope="col") Broker
												th(scope="col") Status
										tbody
											tr
												td.pl-0(scope="row") April 30 12:35:10 pm
												td Reliance
												td 50000
												td Rs. 2
												td Rs. 23,343
												td Trade swift
												td Submitted
											tr
												td.pl-0(scope="row") April 30 12:35:10 pm
												td AAPL
												td 50
												td $2
												td $ 234
												td Trade station
												td Rejected
											tr
												td(scope="row")
												td!= "<strong>Total</strong>"
												td!= "<strong>50050</strong>"
												td
												td
												td
												td

						.dashboard__block.dashboard__block-allPositions

							.dashboard__block-header.pl-3.position-relative.d-flex.align-items-center.justify-content-between
								a.dashboard__block-close.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
									i.icon-font.icon-close

								p.dashboard__block-title!= "All Positions"

								.dashboard__block-header--option.d-flex.align-items-center
									.dropdown
										button#dropdownDashBlockMore.btn.dropdown-toggle.d-flex.align-items-center.justify-content-center.pl-0.pr-0(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											i.icon-font.icon-more
										.dropdown-menu.animate.slideIn(aria-labelledby='dropdownDashBlockMore')
											.dropdown-menu-corner.position-absolute
											.dropdown-menu-wrapper.d-flex.flex-column
												a.dropdown-item.d-flex.align-items-center(href='#')
													div
														i.icon-font.icon-cvs
													div
														span!= "Export as CSV"
												a.dropdown-item.d-flex.align-items-center(href='#')
													div
														i.icon-font.icon-garbage
													div
														span!= "Delete list"

							.dashboard__block-body.pl-3.pr-3.pb-4

								.table-responsive
									table.table.mb-0
										thead
											tr
												th.pl-0(scope="col") Date/Time
												th(scope="col") Symbol
												th(scope="col") Qty
												th(scope="col") Price
												th(scope="col") MTM Price
												th(scope="col") Value
												th(scope="col") Profit / Loss
												th(scope="col") Profit / Loss %
										tbody
											tr
												td.pl-0(scope="row") April 30 12:35:10 pm
												td Reliance
												td 50000
												td Rs. 2
												td Rs. 23
												td Rs. 24,34,344
												td Rs. 4,00,023
												td 250%
											tr
												td.pl-0(scope="row") April 30 12:35:10 pm
												td AAPL
												td 400
												td $20
												td $23
												td $45,000
												td $24,000
												td 250%
											tr
												td.pl-0(scope="row")
												td!= "<strong>Total</strong>"
												td!= "<strong>50400</strong>"
												td
												td
												td!= "<strong>Rs.<br>4,00,023 <br>$ 24,000</strong>"
												td!= "<strong>Rs.<br>4,00,023 <br>$ 24,000</strong>"
												td

						.dashboard__block.dashboard__block-chart

							.dashboard__block-header.pl-3.position-relative.d-flex.align-items-center.justify-content-between
								a.dashboard__block-close.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
									i.icon-font.icon-close

								p.dashboard__block-title!= "Chart"

								.dashboard__block-header--option.d-flex.align-items-center
									.dropdown
										button#dropdownDashBlockMore.btn.dropdown-toggle.d-flex.align-items-center.justify-content-center.pl-0.pr-0(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											i.icon-font.icon-more
										.dropdown-menu.animate.slideIn(aria-labelledby='dropdownDashBlockMore')
											.dropdown-menu-corner.position-absolute
											.dropdown-menu-wrapper.d-flex.flex-column
												a.dropdown-item.d-flex.align-items-center(href='#')
													div
														i.icon-font.icon-cvs
													div
														span!= "Export as CSV"
												a.dropdown-item.d-flex.align-items-center(href='#')
													div
														i.icon-font.icon-garbage
													div
														span!= "Delete list"

							.dashboard__block-body.pl-3.pr-3.pb-4
								img.d-block.img-fluid.ml-auto.mr-auto(src="img/img-table-chart.jpg" srcset="img/img-table-chart@2x.jpg 2x, img/img-table-chart@3x.jpg 3x" alt="" title="")

						.dashboard__block.dashboard__block-heatMap

							.dashboard__block-header.pl-3.position-relative.d-flex.align-items-center.justify-content-between
								a.dashboard__block-close.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
									i.icon-font.icon-close

								p.dashboard__block-title!= "Heat Map"

								.dashboard__block-header--option.d-flex.align-items-center
									.dropdown
										button#dropdownDashBlockMore.btn.dropdown-toggle.d-flex.align-items-center.justify-content-center.pl-0.pr-0(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											i.icon-font.icon-more
										.dropdown-menu.animate.slideIn(aria-labelledby='dropdownDashBlockMore')
											.dropdown-menu-corner.position-absolute
											.dropdown-menu-wrapper.d-flex.flex-column
												a.dropdown-item.d-flex.align-items-center(href='#')
													div
														i.icon-font.icon-cvs
													div
														span!= "Export as CSV"
												a.dropdown-item.d-flex.align-items-center(href='#')
													div
														i.icon-font.icon-garbage
													div
														span!= "Delete list"

							.dashboard__block-body.pl-3.pr-3.pb-4
								img.d-block.img-fluid.ml-auto.mr-auto(src="img/img-heatMap.jpg" srcset="img/img-heatMap@2x.jpg 2x, img/img-heatMap@3x.jpg 3x" alt="" title="")

						.dashboard__block.dashboard__block-optionChain

							.dashboard__block-header.pl-3.position-relative.d-flex.align-items-center.justify-content-between
								a.dashboard__block-close.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
									i.icon-font.icon-close

								p.dashboard__block-title!= "Option Chain"

								.dashboard__block-header--option.d-flex.align-items-center
									p.mr-3!= "View Options Contracts for:"

									.dropdown.dropdown--border.mr-3
										button#dropdownDashBlockExchange.btn.dropdown-toggle.d-flex.align-items-center.justify-content-center.pl-0.pr-0(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											span!= "Exchange"
										.dropdown-menu.animate.slideIn(aria-labelledby='dropdownDashBlockExchange')
											.dropdown-menu-corner.position-absolute
											.dropdown-menu-wrapper.d-flex.flex-column
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "Some action"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "More action"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "More"

									.dropdown.dropdown--border.mr-3
										button#dropdownDashBlockUnderlying.btn.dropdown-toggle.d-flex.align-items-center.justify-content-center.pl-0.pr-0(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											span!= "Underlying"
										.dropdown-menu.animate.slideIn(aria-labelledby='dropdownDashBlockUnderlying')
											.dropdown-menu-corner.position-absolute
											.dropdown-menu-wrapper.d-flex.flex-column
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "Some action"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "More action"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "More"

									.dropdown.dropdown--border.mr-3
										button#dropdownDashBlockExpiry.btn.dropdown-toggle.d-flex.align-items-center.justify-content-center.pl-0.pr-0(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											span!= "Expiry"
										.dropdown-menu.animate.slideIn(aria-labelledby='dropdownDashBlockExpiry')
											.dropdown-menu-corner.position-absolute
											.dropdown-menu-wrapper.d-flex.flex-column
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "Some action"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "More action"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "More"

									a.dashboard__block-btn.d-flex.align-items-center.justify-content-center.mr-2(href="#" class="" title="")
										span!= "Go"

									.dropdown
										button#dropdownDashBlockMore.btn.dropdown-toggle.d-flex.align-items-center.justify-content-center.pl-0.pr-0(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											i.icon-font.icon-more
										.dropdown-menu.animate.slideIn(aria-labelledby='dropdownDashBlockMore')
											.dropdown-menu-corner.position-absolute
											.dropdown-menu-wrapper.d-flex.flex-column
												a.dropdown-item.d-flex.align-items-center(href='#')
													div
														i.icon-font.icon-cvs
													div
														span!= "Export as CSV"
												a.dropdown-item.d-flex.align-items-center(href='#')
													div
														i.icon-font.icon-garbage
													div
														span!= "Delete list"

							.dashboard__block-body.pl-3.pr-3

								.table-responsive
									table.table.mb-0
										thead
											tr
												th.pl-0(scope="col" colspan="7") CALLS
												th(scope="col" colspan="7") EXPIRY: MAY 30 2019
												th(scope="col" colspan="7") PUTS
											tr
												th.pl-0(scope="col") Chart
												th(scope="col") OI
												th(scope="col") Theta
												th(scope="col") Vega
												th(scope="col") Gamma
												th(scope="col") Delta
												th(scope="col") IV
												th(scope="col") Volume
												th(scope="col") LTP
												th(scope="col") Qty
												th.bg(scope="col")!= "Strike<br>Price"
												th(scope="col") Qty
												th(scope="col") LTP
												th(scope="col") Volume
												th(scope="col") IV
												th(scope="col") Delta
												th(scope="col") Gamma
												th(scope="col") Vega
												th(scope="col") Theta
												th(scope="col") OI
												th.text-right(scope="col") Chart
										tbody
											each val, idx in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
												tr
													td.pl-0(scope="row")
														img(src="img/img-small-chart.svg" alt="" title="")
													td(class!= (idx >= 0 && idx < 8)?'inner-bg':'') -
													td(class!= (idx >= 0 && idx < 8)?'inner-bg':'') -
													td(class!= (idx >= 0 && idx < 8)?'inner-bg':'') -
													td(class!= (idx >= 0 && idx < 8)?'inner-bg':'') -
													td(class!= (idx >= 0 && idx < 8)?'inner-bg':'') -
													td(class!= (idx >= 0 && idx < 8)?'inner-bg':'') 4,950
													td(class!= (idx >= 0 && idx < 8)?'inner-bg':'') 2,171.50
													td(class!= (idx >= 0 && idx < 8)?'inner-bg':'') 2,524.90
													td(class!= (idx >= 0 && idx < 8)?'inner-bg':'')
														input(type="text")
													td.bg 93,00.00
													td(class!= (idx >= 8)?'inner-bg':'')
														input(type="text")
													td(class!= (idx >= 8)?'inner-bg':'') -
													td(class!= (idx >= 8)?'inner-bg':'') 0.45
													td(class!= (idx >= 8)?'inner-bg':'') 225
													td(class!= (idx >= 8)?'inner-bg':'') -
													td(class!= (idx >= 8)?'inner-bg':'') 0.05
													td(class!= (idx >= 8)?'inner-bg':'') 91.66
													td(class!= (idx >= 8)?'inner-bg':'') 8
													td(class!= (idx >= 8)?'inner-bg':'') 300
													td.text-right
														img(src="img/img-small-chart.svg" alt="" title="")

							.dashboard__block-footer.p-3
								.d-flex.align-items-center.justify-content-between.pb-3
									.dashboard__block-info
										p!= "Net Geeks: Delta 0.7593 | Gamma 0.4294 | Theta 0.3523 | Vega 0.4638"

									.dashboard__block-payoff.d-flex.align-items-center.justify-content-end
										.d-flex.align-items-center.pr-2
											p!= "Margin:"
											input(type="text")
										.d-flex.align-items-center.pr-2
											p!= "Premium-buy:"
											input(type="text")
										.d-flex.align-items-center.pr-2
											p!= "Sell:"
											input(type="text")
										.d-flex.align-items-center.pr-2
											p!= "Net:"
											input(type="text")
										a.dashboard__block-btn.dashboard__block-btn--border.d-flex.align-items-center.justify-content-center.mr-2(href="#" class="" title="")
											span!= "Payoff chart"

								.d-flex.align-items-center.justify-content-end.dashboard__block-strategy

									p.pr-2!= "Strategy"
									.dropdown.dropdown--border.mr-3
										button#dropdownDashBlockStrategy.btn.dropdown-toggle.d-flex.align-items-center.justify-content-center(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											span!= "Choose strategy"
										.dropdown-menu.animate.slideIn(aria-labelledby='dropdownDashBlockStrategy')
											.dropdown-menu-corner.position-absolute
											.dropdown-menu-wrapper.d-flex.flex-column
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "Some action"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "More action"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "More"

									p.pr-2!= "Create new strategy"
									input.mr-3(type="text")

									a.dashboard__block-btn.d-flex.align-items-center.justify-content-center.mr-2(href="#" class="" title="")
										span!= "Go"


						.dashboard__block.dashboard__block-marketWatch

							.dashboard__block-header.pl-3.pt-3.pt-md-0.pb-3.pb-md-0.position-relative.d-flex.align-items-md-center.justify-content-between.flex-column.flex-md-row
								a.dashboard__block-close.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
									i.icon-font.icon-close

								p.dashboard__block-title.pb-3.pb-md-0!= "Market watch"

								.dashboard__block-header--option.d-flex.align-items-center.flex-wrap.flex-md-nowrap

									a.dashboard__block-btn.d-flex.align-items-center.justify-content-center.mr-2.mb-2.mb-md-0(href="#" class="" title="")
										span!= "+ New List"

									.dropdown.dropdown--border.mr-0.mr-md-3.mb-2.mb-md-0
										button#dropdownDashBlockSelectList.btn.dropdown-toggle.d-flex.align-items-center.justify-content-center.pl-0.pr-0(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											span!= "Select list"
										.dropdown-menu.animate.slideIn(aria-labelledby='dropdownDashBlockSelectList')
											.dropdown-menu-corner.position-absolute
											.dropdown-menu-wrapper.d-flex.flex-column
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "Some action"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "More action"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "More"

									.dropdown.dropdown--more
										button#dropdownDashBlockMore.btn.dropdown-toggle.d-flex.align-items-center.justify-content-center.pl-0.pr-0(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											i.icon-font.icon-more
										.dropdown-menu.animate.slideIn(aria-labelledby='dropdownDashBlockMore')
											.dropdown-menu-corner.position-absolute
											.dropdown-menu-wrapper.d-flex.flex-column
												a.dropdown-item.d-flex.align-items-center(href='#')
													div
														i.icon-font.icon-copy
													div
														span!= "Duplicate list"
												a.dropdown-item.d-flex.align-items-center(href='#')
													div
														i.icon-font.icon-cvs
													div
														span!= "Export as CSV"
												a.dropdown-item.d-flex.align-items-center(href='#')
													div
														i.icon-font.icon-garbage
													div
														span!= "Delete list"

							.dashboard__block-body.pl-3.pr-3

								.dashboard__block-option.d-flex.align-items-center.pb-1.pb-md-3.flex-wrap.flex-md-nowrap

									.dropdown.dropdown--border.mr-2.mb-2.mb-md-0
										button#dropdownDashBlockExchange.btn.dropdown-toggle.d-flex.align-items-center.justify-content-center(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											span!= "Exchange"
										.dropdown-menu.animate.slideIn(aria-labelledby='dropdownDashBlockExchange')
											.dropdown-menu-corner.position-absolute
											.dropdown-menu-wrapper.d-flex.flex-column
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "Some action"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "More action"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "More"

									.dropdown.dropdown--border.mr-2.mb-2.mb-md-0
										button#dropdownDashBlockUnderlying.btn.dropdown-toggle.d-flex.align-items-center.justify-content-center(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											span!= "Underlying"
										.dropdown-menu.animate.slideIn(aria-labelledby='dropdownDashBlockUnderlying')
											.dropdown-menu-corner.position-absolute
											.dropdown-menu-wrapper.d-flex.flex-column
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "Some action"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "More action"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "More"

									.dropdown.dropdown--border.mr-2.mb-2.mb-md-0
										button#dropdownDashBlockType.btn.dropdown-toggle.d-flex.align-items-center.justify-content-center(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											span!= "Type"
										.dropdown-menu.animate.slideIn(aria-labelledby='dropdownDashBlockType')
											.dropdown-menu-corner.position-absolute
											.dropdown-menu-wrapper.d-flex.flex-column
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "Some action"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "More action"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "More"

									.dropdown.dropdown--border.mr-2.mb-2.mb-md-0
										button#dropdownDashBlockStrike.btn.dropdown-toggle.d-flex.align-items-center.justify-content-center(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											span!= "Strike"
										.dropdown-menu.animate.slideIn(aria-labelledby='dropdownDashBlockStrike')
											.dropdown-menu-corner.position-absolute
											.dropdown-menu-wrapper.d-flex.flex-column
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "Some action"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "More action"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "More"

									.dropdown.dropdown--border.mr-2.mb-2.mb-md-0
										button#dropdownDashBlockExpiry.btn.dropdown-toggle.d-flex.align-items-center.justify-content-center(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											span!= "Expiry"
										.dropdown-menu.animate.slideIn(aria-labelledby='dropdownDashBlockExpiry')
											.dropdown-menu-corner.position-absolute
											.dropdown-menu-wrapper.d-flex.flex-column
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "Some action"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "More action"
												a.dropdown-item.d-flex.align-items-center(href='#')
													span!= "More"

									a.dashboard__block-btn.dashboard__block-btn--border.d-flex.align-items-center.justify-content-center.mb-2.mb-md-0(href="#" class="" title="")
										span!= "Add"

										
								.table-responsive.pt-3.pb-4
									table.table.mb-0
										thead
											th.pl-0(scope="col")
												a.d-flex.align-items-center(href="#" class="" title="")
													!= "Symbol"
											th(scope="col") Chart
											th(scope="col") Price
											th(scope="col") Change%
											th(scope="col")
										tbody
											tr
												td.pl-0(scope="row")
													p Reliance
													span!= "<a href='#'>Reliance Industries Ltd</a> | NSE"
												td
													img(src="img/img-mw-table-chart-1.svg" alt="" title="")
												td Rs. 23
												td +1.5%
												td
													.action.d-flex.align-items-center
														a.buy.mr-2.d-flex.align-items-center.justify-content-center(href="#" class="" title="")!= "Buy"
														a.sell.mr-2.d-flex.align-items-center.justify-content-center(href="#" class="" title="")!= "Sell"
														a.remove.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
															i.icon-font.icon-close
											tr
												td.pl-0(scope="row")
													p Reliance
													span!= "<a href='#'>Reliance Industries Ltd</a> | NSE"
												td
													img(src="img/img-mw-table-chart-2.svg" alt="" title="")
												td Rs. 10780
												td -0.5%
												td
													.action.d-flex.align-items-center
														a.buy.mr-2.d-flex.align-items-center.justify-content-center(href="#" class="" title="")!= "Buy"
														a.sell.mr-2.d-flex.align-items-center.justify-content-center(href="#" class="" title="")!= "Sell"
														a.remove.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
															i.icon-font.icon-close
											tr
												td.pl-0(scope="row")
													p Reliance
													span!= "<a href='#'>Reliance Industries Ltd</a> | NSE"
												td
													img(src="img/img-mw-table-chart-1.svg" alt="" title="")
												td Rs. 430
												td +0.82%
												td
													.action.d-flex.align-items-center
														a.buy.mr-2.d-flex.align-items-center.justify-content-center(href="#" class="" title="")!= "Buy"
														a.sell.mr-2.d-flex.align-items-center.justify-content-center(href="#" class="" title="")!= "Sell"
														a.remove.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
															i.icon-font.icon-close



	.main__bg.main__bg-1.position-absolute.w-100.h-100
		.main__bg-row.d-flex.position-absolute.w-100.h-100.justify-content-between
			.main__bg-col.main__bg-col-1.position-absolute
			.main__bg-col.main__bg-col-2.d-flex.align-items-start.justify-content-end.position-absolute
				img.main__bg-img.main__bg-img-3.img-fluid.d-block.position-absolute(src="img/img-main-bg-2.png" srcset="img/img-main-bg-2@2x.png 2x, img/img-main-bg-2@3x.png 3x" alt="" title="")

// SECTION main :: END
