// SECTION do :: START

section#do.do.position-relative

	.do__bg.position-absolute.w-100.h-100
		img(src="img/img-do-bg.png" srcset="img/img-do-bg@2x.png 2x, img/img-do-bg@3x.png 3x" alt="" title="")

	.do__wrapper

		.container
			.row
				.col

					h2.do__title.c-title!= "Here’s how we do it."

		.container
			.row
				.col-12.col-md-6.col-xl-3.pb-5.pb-xl-0
					.card.card-0
						.card-img.d-flex.align-items-center.justify-content-center
							i.icon-font.icon-bar-chart.position-relative

						.card-body.p-0
							h5.card-title!= "<span>Our Trading <br>Engine.</span> At your <br/>beck and call."

							.card-line

							p.card-text
								| Behind the scenes a powerful trading engine built on distributed architecture isconnecting with multiple data providers to fetch near real-time data of multipleexchanges around the world in Stocks, Futures, Options, Currencies andCommodities.
							a.card__link.d-flex.align-items-center(href='#')
								span Read more
								i.icon-font.icon-arrow


				.col-12.col-md-6.col-xl-3.pb-5.pb-xl-0
					.card.card-1
						.card-img.d-flex.align-items-center.justify-content-center
							i.icon-font.icon-layers.position-relative

						.card-body.p-0
							h5.card-title!= "<span>The magic of our <br>strategy</span> building <br>wizard."

							.card-line

							p.card-text
								| Looking for a vol skew? A simple buy and hold? A complex market making, maybe?Or maybe you have no idea what any of this means. No worries. We’ve got you covered.
							a.card__link.d-flex.align-items-center(href='#')
								span Read more
								i.icon-font.icon-arrow


				.col-12.col-md-6.col-xl-3.pb-5.pb-md-0
					.card.card-2
						.card-img.d-flex.align-items-center.justify-content-center
							i.icon-font.icon-users.position-relative

						.card-body.p-0
							h5.card-title!= "<span>Social trading.</span> <br>A strategy <br>marketplace."

							.card-line

							p.card-text
								| Complete market newbie? Not to worry. Social trading makes participation in financial markets easy and most importantly transparent.
							a.card__link.d-flex.align-items-center(href='#')
								span Read more
								i.icon-font.icon-arrow


				.col-12.col-md-6.col-xl-3
					.card.card-3
						.card-img.d-flex.align-items-center.justify-content-center
							i.icon-font.icon-settings.position-relative

						.card-body.p-0
							h5.card-title!= "<span>Our backtesting <br>engine.</span> Before <br>going forward."

							.card-line

							p.card-text
								| Our backtesting engine will test your strategies in real-time with historical data before you go live. This includes testing for keywords ranging from holidays and corporate results to IVs and HVs. Your backtesting results will offer you deep insights into how your strategy could perform going forward.
							a.card__link.d-flex.align-items-center(href='#')
								span Read more
								i.icon-font.icon-arrow



// SECTION do :: END
