// SECTION features :: START

section#features.features.position-relative

	.features__wrapper

		.container
			.row
				.col

					.features__header.d-flex.align-items-center.justify-content-between

						h2.features__title.c-title!= "Check our features"

						.features__carousel-btn.d-flex.align-items-center
							a.features__carousel-btn--prev.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
								i.icon-font.icon-arrow
							a.features__carousel-btn--next.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
								i.icon-font.icon-arrow

		.features__carousel

			mixin swiperContent()
				a.swiper-slide.d-flex.align-items-center.pl-3.pr-2.py-3.position-relative(href="#")
					div
						i.icon-font.icon-chip
					div.pl-3
						p!= "Trading Engine Features"
				a.swiper-slide.d-flex.align-items-center.pl-3.pr-2.py-3.position-relative(href="#")
					div
						i.icon-font.icon-innovation
					div.pl-3
						p!= "Strategy Building Wizard Features"
				a.swiper-slide.d-flex.align-items-center.pl-3.pr-2.py-3.position-relative(href="#")
					div
						i.icon-font.icon-line-chart
					div.pl-3
						p!= "Position Builder Features"
				a.swiper-slide.d-flex.align-items-center.pl-3.pr-2.py-3.position-relative(href="#")
					div
						i.icon-font.icon-graphene
					div.pl-3
						p!= "Social Trading / Marketplace Features"
				a.swiper-slide.d-flex.align-items-center.pl-3.pr-2.py-3.position-relative(href="#")
					div
						i.icon-font.icon-chip
					div.pl-3
						p!= "Trading Engine Features"
				a.swiper-slide.d-flex.align-items-center.pl-3.pr-2.py-3.position-relative(href="#")
					div
						i.icon-font.icon-innovation
					div.pl-3
						p!= "Strategy Building Wizard Features"
				a.swiper-slide.d-flex.align-items-center.pl-3.pr-2.py-3.position-relative(href="#")
					div
						i.icon-font.icon-line-chart
					div.pl-3
						p!= "Position Builder Features"
				a.swiper-slide.d-flex.align-items-center.pl-3.pr-2.py-3.position-relative(href="#")
					div
						i.icon-font.icon-graphene
					div.pl-3
						p!= "Social Trading / Marketplace Features"
				a.swiper-slide.d-flex.align-items-center.pl-3.pr-2.py-3.position-relative(href="#")
					div
						i.icon-font.icon-chip
					div.pl-3
						p!= "Trading Engine Features"

			+swiper('swiper-container-features', 'swiperContent', false, false, false)

// SECTION features :: END
