// SECTION main :: START

section#main.main.position-relative

	.main__bg.main__bg-0.position-absolute.w-100.h-100
		img.main__bg-img.main__bg-img-1.position-absolute(src="img/img-main-bg-1.png" srcset="img/img-main-bg-1@2x.png 2x, img/img-main-bg-1@3x.png 3x" alt="" title="")

	.main__wrapper.position-relative

		.container
			.row
				.col

					mixin swiperContent()
						.swiper-slide
							h1.main__title!= "Algo trading. <br>For everyone."
							p.main__desc!= "Tradetron has been created to empower strategy creators. How? By allowing them to automate their quant strategies and sell them to investors and traders the world over. The best part? You never have to write a single bit of code."
						.swiper-slide
							h1.main__title!= "Algo trading."
							p.main__desc!= "Tradetron has been created to empower strategy creators. How? ..."
						.swiper-slide
							h1.main__title!= "Algo trading. <br>For everyone."
							p.main__desc!= "Tradetron has been created to empower strategy creators. How? By allowing them to automate their quant strategies and sell them to investors and traders the world over. ... "

					+swiper('swiper-container-main', 'swiperContent', true, false, false)

	.main__bg.main__bg-1.position-absolute.w-100.h-100
		.main__bg-row.d-flex.position-absolute.w-100.h-100.justify-content-between
			.main__bg-col.main__bg-col-1.position-absolute
			.main__bg-col.main__bg-col-2.d-flex.align-items-start.justify-content-end.position-absolute
				img.main__bg-img.main__bg-img-3.img-fluid.d-block.position-absolute(src="img/img-main-bg-2.png" srcset="img/img-main-bg-2@2x.png 2x, img/img-main-bg-2@3x.png 3x" alt="" title="")
				img.main__bg-img.main__bg-img-2.img-fluid.d-block.position-absolute(src="img/img-main-macbook.png" srcset="img/img-main-macbook@2x.png 2x, img/img-main-macbook@3x.png 3x" alt="" title="")
				img.main__bg-img.main__bg-img-4.img-fluid.position-absolute(src="img/img-main-macbook-mobile.png" srcset="img/img-main-macbook-mobile@2x.png 2x, img/img-main-macbook-mobile@3x.png 3x" alt="" title="")

// SECTION main :: END
