// SECTION pricing :: START

section#pricing.pricing.position-relative

	.pricing__bg.position-absolute.w-100.h-100.d-none.d-md-block
		img.img-fluid(src="img/img-pricing-bg.png" srcset="img/img-pricing-bg@2x.png 2x, img/img-pricing-bg@3x.png 3x" alt="" title="")

	.pricing__wrapper.position-relative

		.container
			.row
				.col

					.pricing__header
						div
							h2.pricing__title.c-title.text-center!= "Pricing"
							p.pricing__desc.text-center!= "View our comprehensive membership packages below, as well as basic information on pricing for our Strategy Creators & Subscribers."

						.pricing__carousel-btn.d-flex.align-items-center
							a.pricing__carousel-btn--prev.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
								i.icon-font.icon-arrow
							a.pricing__carousel-btn--next.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
								i.icon-font.icon-arrow

		.container.container--carousel
			.row
				.col

					.pricing__carousel

						mixin swiperContent()
							.swiper-slide
								p.pricing__plan!= "Basic Plan"
								p.pricing__price.d-flex.align-items-end!= "Free"

								ul.pricing__list.d-flex.flex-column
									-
										let arr1 = [
											'Unlimited Private Strategies',
											'Create 1 Public Strategies',
											'Follow/Execute 5 strategies',
											'30% sharing of strategy fees you earn from your followers',
											'Paper Trading',
											'Offline execution',
											'Auto execution with one click',
											'Fully Automatic execution (with affiliated brokers)'
										];
									each val, idx in arr1
										li.pricing__list-item.d-flex
											div
												if(idx > 1)
													i.icon-font.icon-close
												else
													i.icon-font.icon-check
											div
												if(idx > 1)
													span!= val
												else
													p!= val

								a.pricing__btn.c-btn.c-btn--bg(href="#" class="" title="")!= "Choose Plan"

							.swiper-slide
								p.pricing__plan!= "Standart Plan"
								p.pricing__price.d-flex.align-items-end!= "$49<span>.99/mo</span>"

								ul.pricing__list.d-flex.flex-column
									each val, idx in arr1
										li.pricing__list-item.d-flex
											div
												if(idx > 2)
													i.icon-font.icon-close
												else
													i.icon-font.icon-check
											div
												if(idx > 2)
													span!= val
												else
													p!= val

								a.pricing__btn.c-btn.c-btn--bg(href="#" class="" title="")!= "Choose Plan"

							.swiper-slide
								p.pricing__plan!= "Pro Plan"
								p.pricing__price.d-flex.align-items-end!= "$99<span>.99/mo</span>"

								ul.pricing__list.d-flex.flex-column
									each val, idx in arr1
										li.pricing__list-item.d-flex
											div
												if(idx > 4)
													i.icon-font.icon-close
												else
													i.icon-font.icon-check
											div
												if(idx > 4)
													span!= val
												else
													p!= val

								a.pricing__btn.c-btn.c-btn--bg(href="#" class="" title="")!= "Choose Plan"

							.swiper-slide
								p.pricing__plan!= "Expert Plan"
								p.pricing__price.d-flex.align-items-end!= "$199<span>.99/mo</span>"

								ul.pricing__list.d-flex.flex-column
									each val, idx in arr1
										li.pricing__list-item.d-flex
											div
												i.icon-font.icon-check
											div
												p!= val

								a.pricing__btn.c-btn.c-btn--bg(href="#" class="" title="")!= "Choose Plan"

						+swiper('swiper-container-pricing', 'swiperContent', true, false, false)

// SECTION pricing :: END
