
.newStrategy__set-wrapper

	.newStrategy__set-header.newStrategy__set-header--many.d-flex.align-items-center.justify-content-between
		.newStrategy__set-header-left.d-flex.align-items-center
			p.newStrategy__set-header-title.pr-2!= "Set №2"

			div.newStrategy__set-header-left-cover
				.form-group.mb-2.mb-md-0.mr-0.mr-3
					select.form-control
						option Default underlying
						option Default list

			.newStrategy__set-header-left-cover
				.form-group.mb-0.mr-3
					select.form-control
						option Select list
						option Select list

				.form-group.mb-0.w-auto
					.dropdown.dropdown--more
						button#dropdownUProfileAboutMore.btn.dropdown-toggle.d-flex.align-items-center.justify-content-center.p-0(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
							i.icon-font.icon-more
						.dropdown-menu.animate.slideIn(aria-labelledby='dropdownUProfileAboutMore')
							.dropdown-menu-corner.position-absolute
							.dropdown-menu-wrapper.d-flex.flex-column
								a.dropdown-item.d-flex.align-items-center(href='#')
									div
										i.icon-font.icon-pencil-edit
									div
										span!= "Edit"
								a.dropdown-item.d-flex.align-items-center(href='#')
									div
										i.icon-font.icon-garbage
									div
										span!= "Delete list"

				a.newStrategy__set-head-add.ml-3.c-btn.c-btn--border(href="#" class="" title="" data-toggle="modal" data-target="#addStrategiesList")!= "Add"

		.newStrategy__set-header-right.d-flex.align-items-center

			a.newStrategy__set-header-link.mr-4(href="#" class="" title="")!= "+Add new set"

			a.newStrategy__set-header-close(href="#" class="" title="")
				i.icon-font.icon-close


	// ENTRY CARD
	.newStrategy__section.newStrategy__set.newStrategy__set-collapse.newStrategy__set-entry.px-3.py-3.is-active

		.newStrategy__set-head.d-flex.align-items-center.justify-content-between
			.newStrategy__set-head-left.d-flex.align-items-center
				p.newStrategy__set-head-title.pr-3!= "Entry"

				.form-group.mb-2.mb-md-0.mr-3
					select.form-control
						option Default underlying
						option Default list

				.form-group.mb-0.mr-3
					select.form-control
						option Select list
						option Select list

				.form-group.mb-0.w-auto
					.dropdown.dropdown--more
						button#dropdownUProfileAboutMore.btn.dropdown-toggle.d-flex.align-items-center.justify-content-center.p-0(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
							i.icon-font.icon-more
						.dropdown-menu.animate.slideIn(aria-labelledby='dropdownUProfileAboutMore')
							.dropdown-menu-corner.position-absolute
							.dropdown-menu-wrapper.d-flex.flex-column
								a.dropdown-item.d-flex.align-items-center(href='#')
									div
										i.icon-font.icon-pencil-edit
									div
										span!= "Edit"
								a.dropdown-item.d-flex.align-items-center(href='#')
									div
										i.icon-font.icon-garbage
									div
										span!= "Delete list"

				a.newStrategy__set-head-add.ml-3.c-btn.c-btn--border(href="#" class="" title="" data-toggle="modal" data-target="#addStrategiesList")!= "Add"

			.newStrategy__set-head-right.d-flex.align-items-center
				a.newStrategy__set-head-close.mr-2(href="#" class="" title="")
					i.icon-font.icon-close
				a.newStrategy__set-head-corner.ml-2(href="#" class="" title="")
					i.icon-font.icon-corner

		.newStrategy__set-body

			.newStrategy__set-frame.pt-3.d-flex

				.newStrategy__set-frame-left

					.newStrategy__set-frame-title.d-flex.align-items-center.pb-2
						p.pr-3!= "CONDITIONS"
						a(href="#" class="" title="" data-toggle="modal" data-target="#addStrategiesCondition")!= "+Add"

					.newStrategy__set-frame-body.pr-3.pt-3

						.newStrategy__set-desc
							p Lorem ipsum dolor sit amet, eget amet, dui donec enim magna a, vestibulum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum corrupti gravida lacus elit facilisis, etiam interdum blandit ultrices arcu libero. Lum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum don corrupti gravida Lorem ipsum dolor sit amet, eget amet, dui donec enim magna a, vestibulum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum corrupti gravida lacus elit facilisis, etiam interdum blandit ultrices arcu libero. Lum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum don corrupti gravida

				.newStrategy__set-frame-right

					.newStrategy__set-frame-title.d-flex.align-items-center.pb-2.pl-3
						p.pr-3!= "positions"
						a(href="#" class="" title="" data-toggle="modal" data-target="#addStrategiesBuilder")!= "+Add"

					.newStrategy__set-frame-body.px-3.pt-3

						.table-responsive
							table.table.mb-0
								tbody
									tr
										td(colspan='6')
											.d-flex.align-items-center.justify-content-between
												span Underlying
												i.pl-2.pr-2 |
												span Strike
												i.pl-2.pr-2 |
												span Type
												i.pl-2.pr-2 |
												span Expiry
												i.pl-2.pr-2 |
												span Qty
												i.pl-2.pr-2 |
												span Price
												i.pl-2.pr-2 |
												span SL
												i.pl-2.pr-2 |
												span Target
									each val, id in [1,2]
										tr
											td Nifty
											td 10900
											td C
											td Feb 26
											td 6000
											td
											td
												.d-flex.align-items-center.justify-content-end
													a.mr-2(href="#" class="" title="")
														i.icon-font.icon-pencil-edit
													a.ml-2(href="#" class="" title="")
														i.icon-font.icon-garbage

			.newStrategy__set-body-footer.pt-4
				a.c-btn.c-btn--border(href="#" class="" title="")!= "And"
				a.c-btn.c-btn--border(href="#" class="" title="")!= "Or"
	// ENTRY CARD :: end


	// REPAIR CARD
	.newStrategy__section.newStrategy__set.newStrategy__set-collapse.newStrategy__set-repair.px-3.py-3

		.newStrategy__set-head.d-flex.align-items-center.justify-content-between
			.newStrategy__set-head-left.d-flex.align-items-center
				p.newStrategy__set-head-title.pr-3!= "Repair"

				.form-group.mb-0
					select.form-control
						option Repair Continious
						option Repair Continious

				a.newStrategy__set-head-add.ml-3(href="#" class="" title="")!= "+Add"

			.newStrategy__set-head-right.d-flex.align-items-center
				a.newStrategy__set-head-close.mr-2(href="#" class="" title="")
					i.icon-font.icon-close
				a.newStrategy__set-head-corner.ml-2(href="#" class="" title="")
					i.icon-font.icon-corner

		.newStrategy__set-body

			.newStrategy__set-frame.pt-3.d-flex

				.newStrategy__set-frame-left

					.newStrategy__set-frame-title.d-flex.align-items-center.pb-2
						p.pr-3!= "CONDITIONS"

					.newStrategy__set-frame-body.pr-3.pt-3

						.newStrategy__set-desc
							p Lorem ipsum dolor sit amet, eget amet, dui donec enim magna a, vestibulum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum corrupti gravida lacus elit facilisis, etiam interdum blandit ultrices arcu libero. Lum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum don corrupti gravida Lorem ipsum dolor sit amet, eget amet, dui donec enim magna a, vestibulum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum corrupti gravida lacus elit facilisis, etiam interdum blandit ultrices arcu libero. Lum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum don corrupti gravida

				.newStrategy__set-frame-right

					.newStrategy__set-frame-title.d-flex.align-items-center.pb-2.pl-3
						p.pr-3!= "positions"
						a(href="#" class="" title="" data-toggle="modal" data-target="#addStrategiesBuilder")!= "+Add"

					.newStrategy__set-frame-body.px-3.pt-3

						.table-responsive
							table.table.mb-0
								tbody
									tr
										td(colspan='6')
											.d-flex.align-items-center.justify-content-between
												span Underlying
												i.pl-2.pr-2 |
												span Strike
												i.pl-2.pr-2 |
												span Type
												i.pl-2.pr-2 |
												span Expiry
												i.pl-2.pr-2 |
												span Qty
												i.pl-2.pr-2 |
												span Price
												i.pl-2.pr-2 |
												span SL
												i.pl-2.pr-2 |
												span Target
									each val, id in [1]
										tr
											td Nifty
											td
											td C
											td Feb 26
											td
											td Delta(allpositions)*-1
											td
												.d-flex.align-items-center.justify-content-end
													a.mr-2(href="#" class="" title="")
														i.icon-font.icon-pencil-edit
													a.ml-2(href="#" class="" title="")
														i.icon-font.icon-garbage

			.newStrategy__set-body-footer.pt-4
				a.c-btn.c-btn--border(href="#" class="" title="")!= "And"
				a.c-btn.c-btn--border(href="#" class="" title="")!= "Or"
	// REPAIR CARD :: end


	// OVERNIGHT CARD
	.newStrategy__section.newStrategy__set.newStrategy__set-collapse.newStrategy__set-overnight.px-3.py-3

		.newStrategy__set-head.d-flex.align-items-center.justify-content-between
			.newStrategy__set-head-left
				p.newStrategy__set-head-title.pr-2!= "Overnight Protection Legs"

			.newStrategy__set-head-right
				a.newStrategy__set-head-corner(href="#" class="" title="")
					i.icon-font.icon-corner

		.newStrategy__set-body

			.newStrategy__set-frame.pt-3.pb-3.d-flex

				.newStrategy__set-frame-left

					.newStrategy__set-frame-title.d-flex.align-items-center.pb-2
						p.pr-3!= "CONDITIONS"

					.newStrategy__set-frame-body.pr-3.pt-3

						.newStrategy__set-desc
							p Lorem ipsum dolor sit amet, eget amet, dui donec enim magna a, vestibulum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum corrupti gravida lacus elit facilisis, etiam interdum blandit ultrices arcu libero. Lum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum don corrupti gravida Lorem ipsum dolor sit amet, eget amet, dui donec enim magna a, vestibulum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum corrupti gravida lacus elit facilisis, etiam interdum blandit ultrices arcu libero. Lum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum don corrupti gravida

				.newStrategy__set-frame-right

					.newStrategy__set-frame-title.d-flex.align-items-center.pb-2.pl-3
						p.pr-3!= "positions"
						a(href="#" class="" title="" data-toggle="modal" data-target="#addStrategiesBuilder")!= "+Add"

					.newStrategy__set-frame-body.px-3.pt-3

						.table-responsive
							table.table.mb-0
								tbody
									tr
										td(colspan='6')
											.d-flex.align-items-center.justify-content-between
												span Underlying
												i.pl-2.pr-2 |
												span Strike
												i.pl-2.pr-2 |
												span Type
												i.pl-2.pr-2 |
												span Expiry
												i.pl-2.pr-2 |
												span Qty
												i.pl-2.pr-2 |
												span Price
												i.pl-2.pr-2 |
												span SL
												i.pl-2.pr-2 |
												span Target
									each val, id in [1]
										tr
											td Nifty
											td ATM
											td C
											td CurrMonth
											td
											td Delta(allpositions)*-1
											td
												.d-flex.align-items-center.justify-content-end
													a.mr-2(href="#" class="" title="")
														i.icon-font.icon-pencil-edit
													a.ml-2(href="#" class="" title="")
														i.icon-font.icon-garbage
			.newStrategy__set-body-footer.pt-4
				a.c-btn.c-btn--border(href="#" class="" title="")!= "And"
				a.c-btn.c-btn--border(href="#" class="" title="")!= "Or"
	// OVERNIGHT CARD :: end


	// EXIT CARD
	.newStrategy__section.newStrategy__set.newStrategy__set-exit.px-3.py-3

		.newStrategy__set-head.d-flex.align-items-center.justify-content-between
			.newStrategy__set-head-left
				p.newStrategy__set-head-title.pr-2!= "Exit"

			.newStrategy__set-head-right

		.newStrategy__set-body

			.newStrategy__set-frame.pt-3.d-flex

				.newStrategy__set-frame-left

					.newStrategy__set-frame-title.d-flex.align-items-center.pb-2
						p.pr-3!= "CONDITIONS"

					.newStrategy__set-frame-body.pr-3.pt-3

						.newStrategy__set-desc
							p Lorem ipsum dolor sit amet, eget amet, dui donec enim magna a, vestibulum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum corrupti gravida lacus elit facilisis, etiam interdum blandit ultrices arcu libero. Lum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum don corrupti gravida Lorem ipsum dolor sit amet, eget amet, dui donec enim magna a, vestibulum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum corrupti gravida lacus elit facilisis, etiam interdum blandit ultrices arcu libero. Lum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum don corrupti gravida

				.newStrategy__set-frame-right

					.newStrategy__set-frame-title.d-flex.align-items-center.pb-2.pl-3
						p.pr-3!= "positions"

					.newStrategy__set-frame-body.px-3.pt-3.pb-5

						span.newStrategy__set-frame-text Exit all open positions in this set

			.newStrategy__set-body-footer.pt-4
				a.c-btn.c-btn--border(href="#" class="" title="")!= "And"
				a.c-btn.c-btn--border(href="#" class="" title="")!= "Or"
	// EXIT CARD :: end


	// ULTIMATE CARD
	.newStrategy__section.newStrategy__set.newStrategy__set-collapse.newStrategy__set-ultimate.px-3.py-3

		.newStrategy__set-head.d-flex.align-items-center.justify-content-between
			.newStrategy__set-head-left.d-flex.align-items-center
				p.newStrategy__set-head-title.pr-3!= "Ultimate Repair"

				.form-group.mb-0
					select.form-control
						option Repair Continious
						option Repair Continious

				a.newStrategy__set-head-add.ml-3(href="#" class="" title="")!= "+Add"

			.newStrategy__set-head-right.d-flex.align-items-center
				a.newStrategy__set-head-close.mr-2(href="#" class="" title="")
					i.icon-font.icon-close
				a.newStrategy__set-head-corner.ml-2(href="#" class="" title="")
					i.icon-font.icon-corner

		.newStrategy__set-body

			.newStrategy__set-frame.pt-3.d-flex

				.newStrategy__set-frame-left

					.newStrategy__set-frame-title.d-flex.align-items-center.pb-2
						p.pr-3!= "CONDITIONS"

					.newStrategy__set-frame-body.pr-3.pt-3

						.newStrategy__set-desc
							p Lorem ipsum dolor sit amet, eget amet, dui donec enim magna a, vestibulum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum corrupti gravida lacus elit facilisis, etiam interdum blandit ultrices arcu libero. Lum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum don corrupti gravida Lorem ipsum dolor sit amet, eget amet, dui donec enim magna a, vestibulum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum corrupti gravida lacus elit facilisis, etiam interdum blandit ultrices arcu libero. Lum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum don corrupti gravida

				.newStrategy__set-frame-right

					.newStrategy__set-frame-title.d-flex.align-items-center.pb-2.pl-3
						p.pr-3!= "positions"
						a(href="#" class="" title="" data-toggle="modal" data-target="#addStrategiesBuilder")!= "+Add"

					.newStrategy__set-frame-body.px-3.pt-3

						.table-responsive
							table.table.mb-0
								tbody
									tr
										td(colspan='6')
											.d-flex.align-items-center.justify-content-between
												span Underlying
												i.pl-2.pr-2 |
												span Strike
												i.pl-2.pr-2 |
												span Type
												i.pl-2.pr-2 |
												span Expiry
												i.pl-2.pr-2 |
												span Qty
												i.pl-2.pr-2 |
												span Price
												i.pl-2.pr-2 |
												span SL
												i.pl-2.pr-2 |
												span Target
									each val, id in [1]
										tr
											td Nifty
											td
											td C
											td Feb 26
											td
											td Delta(allpositions)*-1
											td
												.d-flex.align-items-center.justify-content-end
													a.mr-2(href="#" class="" title="")
														i.icon-font.icon-pencil-edit
													a.ml-2(href="#" class="" title="")
														i.icon-font.icon-garbage

			.newStrategy__set-body-footer.pt-4
				a.c-btn.c-btn--border(href="#" class="" title="")!= "And"
				a.c-btn.c-btn--border(href="#" class="" title="")!= "Or"
	// ULTIMATE CARD :: end


	// UNIVERSAL CARD
	.newStrategy__section.newStrategy__set.newStrategy__set-universal.px-3.py-3

		.newStrategy__set-head.d-flex.align-items-center.justify-content-between
			.newStrategy__set-head-left
				p.newStrategy__set-head-title.pr-2!= "Universal Exit"

			.newStrategy__set-head-right

		.newStrategy__set-body

			.newStrategy__set-frame.pt-3.d-flex

				.newStrategy__set-frame-left

					.newStrategy__set-frame-title.d-flex.align-items-center.pb-2
						p.pr-3!= "CONDITIONS"

					.newStrategy__set-frame-body.pr-3.pt-3

						.newStrategy__set-desc
							p Lorem ipsum dolor sit amet, eget amet, dui donec enim magna a, vestibulum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum corrupti gravida lacus elit facilisis, etiam interdum blandit ultrices arcu libero. Lum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum don corrupti gravida Lorem ipsum dolor sit amet, eget amet, dui donec enim magna a, vestibulum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum corrupti gravida lacus elit facilisis, etiam interdum blandit ultrices arcu libero. Lum integer nam tempor, rhoncus mollis wisi. Suscipit bibendum don corrupti gravida

				.newStrategy__set-frame-right

					.newStrategy__set-frame-title.d-flex.align-items-center.pb-2.pl-3
						p.pr-3!= "positions"

					.newStrategy__set-frame-body.px-3.pt-3

						span.newStrategy__set-frame-text Exit all open positions in this set

			.newStrategy__set-body-footer.pt-4
				a.c-btn.c-btn--border(href="#" class="" title="")!= "And"
				a.c-btn.c-btn--border(href="#" class="" title="")!= "Or"
	// UNIVERSAL CARD :: end
