// SECTION strategy followers :: START

.s-profile__section.s-profile__followers.p-3

	.s-profile__followers-head.d-flex.align-items-center.justify-content-between.pb-4
		div
			p.s-profile__section-title!= "Followers"
		div
		a(href="#" class="" title="")!= "View all"

	.s-profile__followers-body

		.s-profile__followers-block-wrapper.pb-3
			mixin swiperContent()
				.swiper-slide
					a.s-profile__followers-block(href="#" class="" title="")
						.s-profile__followers-block-img.mb-3
							img(src="img/img-profile.png" srcset="img/img-profile@2x.png 2x" alt="" title="")
						p!= "Rebecca Jensen"
				.swiper-slide
					a.s-profile__followers-block(href="#" class="" title="")
						.s-profile__followers-block-img.mb-3
							img(src="img/img-profile.png" srcset="img/img-profile@2x.png 2x" alt="" title="")
						p!= "Rachel Morgan"
				.swiper-slide
					a.s-profile__followers-block(href="#" class="" title="")
						.s-profile__followers-block-img.mb-3
							img(src="img/img-profile.png" srcset="img/img-profile@2x.png 2x" alt="" title="")
						p!= "Glenn Walton"
				.swiper-slide
					a.s-profile__followers-block(href="#" class="" title="")
						.s-profile__followers-block-img.mb-3
							img(src="img/img-profile.png" srcset="img/img-profile@2x.png 2x" alt="" title="")
						p!= "Luis Ray"
				.swiper-slide
					a.s-profile__followers-block(href="#" class="" title="")
						.s-profile__followers-block-img.mb-3
							img(src="img/img-profile.png" srcset="img/img-profile@2x.png 2x" alt="" title="")
						p!= "Jared Murray"

			+swiper('swiper-container-followers', 'swiperContent', true, false, false)




// SECTION strategy followers :: END
