// HEADER :: START

header#header.header

	.header__wrapper

		.container
			.row.align-items-center

				.col-12.col-xl-3.d-flex.align-items-center.justify-content-between.d-xl-block

					.logotype.logotype--header
						a.logotype__link.d-flex.align-items-start(href="#" class="" title="")
							img.logotype__img.img-fluid(src="img/img-logotype-dark.png" srcset="img/img-logotype-dark@2x.png 2x, img/img-logotype-dark@3x.png 3x" alt="" title="")

					.d-block.d-xl-none
						+hamburger()

					.header__menu.animate.fadeIn(mobile-block-js)
						.header__menu-body.d-flex

							.header__menu-row.d-flex.w-100
								.header__menu-col
									.header__nav-wrapper
										.header__nav
											.dropdown
												button.btn.dropdown-toggle.d-flex.pl-0(type='button' class!= (pageClassName === 'p-features') ?'is-active':'')
													span!= 'Features'
												.dropdown-menu.d-block
													.dropdown-menu-wrapper.d-flex.flex-column
														a.dropdown-item.d-flex.align-items-center(href='#')
															div
																i.icon-font.icon-bar-chart
															div
																span!= "Trading Engine"
														a.dropdown-item.d-flex.align-items-center(href='#')
															div
																i.icon-font.icon-layers
															div
																span!= "Strategy Builder"

														a.dropdown-item.d-flex.align-items-center(href='#')
															div
																i.icon-font.icon-users
															div
																span!= "Social Trading"

														a.dropdown-item.d-flex.align-items-center(href='#')
															div
																i.icon-font.icon-settings
															div
																span!= "Backtesting Engine"

														a.dropdown-item.d-flex.align-items-center(href='#')
															div
																i.icon-font.icon-chart
															div
																span!= "Execution Algos"

														a.dropdown-item.d-flex.align-items-center(href='#')
															div
																i.icon-font.icon-file
															div
																span!= "Reports"

														a.dropdown-item.d-flex.align-items-center(href='#')
															div
																i.icon-font.icon-favorites
															div
																span!= "Fund Management"

														a.dropdown-item.d-flex.align-items-center(href='#')
															div
																i.icon-font.icon-edit
															div
																span!= "Keywords"

								.header__menu-col
									.header__nav-wrapper
										.header__nav
											.dropdown
												button.btn.dropdown-toggle.d-flex.pl-0(type='button' class!= (pageClassName === 'p-useCases') ?'is-active':'')
													span!= 'Use cases'
												.dropdown-menu.d-block
													.dropdown-menu-wrapper.d-flex.flex-column
														a.dropdown-item.d-flex.align-items-center(href='#')
															div
																i.icon-font.icon-id-card
															div
																span!= "Strategy Creators"

														a.dropdown-item.d-flex.align-items-center(href='#')
															div
																i.icon-font.icon-hand
															div
																span!= "Investors"

														a.dropdown-item.d-flex.align-items-center(href='#')
															div
																i.icon-font.icon-safebox
															div
																span!= "Brokers"

									.header__nav-wrapper.d-flex.d-md-none
										.header__nav
											a(href="#" class!= (pageClassName === 'p-pricing') ?'is-active':'' title="")!= "Pricing"
										.header__nav
											a(href="#" class="" title="")!= "Strategy Market"
										.header__nav
											a(href="#" class="" title="")!= "Affiliates"
										.header__nav
											a(href="#" class="" title="")!= "Contact"

						.header__menu-footer.d-flex.align-items-center.justify-content-between
							div
								.header__nav-wrapper.d-flex.align-items-center.justify-content-center
									.header__nav
										a(href="#" class!= (pageClassName === 'p-pricing') ?'is-active':'' title="")!= "Pricing"
									.header__nav
										a(href="#" class="" title="")!= "Strategy Market"
									.header__nav
										a(href="#" class="" title="")!= "Affiliates"
									.header__nav
										a(href="#" class="" title="")!= "Contact"
							div
								.header__btn-wrapper.d-flex.align-items-center.justify-content-end
									a.header__btn.header__btn--signup.btn(href="#" class="" title="" data-toggle="modal" data-target="#signupModal")
										span!= "Sign up"
									a.header__btn.header__btn--signin.btn.c-btn.c-btn--bg(href="#" class="" title="" data-toggle="modal" data-target="#signinModal")
										i.icon-font.icon-signin
										span!= "Sign in"

				.col-6.d-none.d-xl-block

					.header__nav-wrapper.d-flex.align-items-center.justify-content-center
						.header__nav
							.dropdown
								button#dropdownMenuFutures.btn.dropdown-toggle.d-flex.align-items-center(type='button', class!= (pageClassName === 'p-features') ?'is-active':'', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
									span!= 'Features'
									i.icon-font.icon-corner
								.dropdown-menu.animate.slideIn(aria-labelledby='dropdownMenuFutures')
									.dropdown-menu-corner.position-absolute
									.dropdown-menu-wrapper.d-flex.flex-column
										a.dropdown-item.d-flex.align-items-center(href='#')
											div
												i.icon-font.icon-bar-chart
											div
												span!= "Trading Engine"

										a.dropdown-item.d-flex.align-items-center(href='#')
											div
												i.icon-font.icon-layers
											div
												span!= "Strategy Builder"

										a.dropdown-item.d-flex.align-items-center(href='#')
											div
												i.icon-font.icon-users
											div
												span!= "Social Trading"

										a.dropdown-item.d-flex.align-items-center(href='#')
											div
												i.icon-font.icon-settings
											div
												span!= "Backtesting Engine"

										a.dropdown-item.d-flex.align-items-center(href='#')
											div
												i.icon-font.icon-chart
											div
												span!= "Execution Algos"

										a.dropdown-item.d-flex.align-items-center(href='#')
											div
												i.icon-font.icon-file
											div
												span!= "Reports"

										a.dropdown-item.d-flex.align-items-center(href='#')
											div
												i.icon-font.icon-favorites
											div
												span!= "Fund Management"

										a.dropdown-item.d-flex.align-items-center(href='#')
											div
												i.icon-font.icon-edit
											div
												span!= "Keywords"

						.header__nav
							.dropdown
								button#dropdownMenuUsecases.btn.dropdown-toggle.d-flex.align-items-center(type='button', class!= (pageClassName === 'p-useCases') ?'is-active':'', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
									span!= 'Use cases'
									i.icon-font.icon-corner
								.dropdown-menu.animate.slideIn(aria-labelledby='dropdownMenuUsecases')
									.dropdown-menu-corner.position-absolute
									.dropdown-menu-wrapper.d-flex.flex-column
										a.dropdown-item.d-flex.align-items-center(href='#')
											div
												i.icon-font.icon-id-card
											div
												span!= "Strategy Creators"

										a.dropdown-item.d-flex.align-items-center(href='#')
											div
												i.icon-font.icon-hand
											div
												span!= "Investors"

										a.dropdown-item.d-flex.align-items-center(href='#')
											div
												i.icon-font.icon-safebox
											div
												span!= "Brokers"

						.header__nav
							a(href="#" class!= (pageClassName === 'p-pricing') ?'is-active':'' title="")!= "Pricing"
						.header__nav
							a(href="#" class="" title="")!= "Strategy Market"
						.header__nav
							a(href="#" class="" title="")!= "Affiliates"
						.header__nav
							a(href="#" class="" title="")!= "Contact"

				.col-3.d-none.d-xl-block

					.header__btn-wrapper.d-flex.align-items-center.justify-content-end
						a.header__btn.header__btn--signup.btn(href="#" class="" title="" data-toggle="modal" data-target="#signupModal")
							span!= "Sign up"
						a.header__btn.header__btn--signin.btn.c-btn.c-btn--bg(href="#" class="" title="" data-toggle="modal" data-target="#signinModal")
							i.icon-font.icon-signin
							span!= "Sign in"

// HEADER :: END
