// SECTION description :: START

section#description.description.position-relative

	.description__bg.position-absolute.w-100.h-100
		img(src="img/img-do-bg.png" srcset="img/img-do-bg@2x.png 2x, img/img-do-bg@3x.png 3x" alt="" title="")

	.description__wrapper

		.container
			.row
				.col

					h2.description__title.description__title-0.c-subtitle!= "Make a strategy. Make some money. And some fans."
					p.description__text.description__text-0.c-text!= "Tradetron offers you the unique opportunity to become a Strategy Creator and sell your strategies on our social trading platform. You can market your strategies, using your ROI as proof of the pudding. Right off Tradetron. But don’t take our word for it. Sign up, create your one free strategy and then decide for yourself. If it works for you, the right to list your strategy on the marketplace is yours for a small monthly fee. Needless to add, your strategy logic and decision making criterion are never disclosed to your users. A win-win situation."

			.row
				.col

					h2.description__title.description__title-1.c-subtitle!= "Your next business plan - right here"
					p.description__text.description__text-1.c-text!= "Start a manual strategy to add positions based on your fav analyst / investor / mutual fund and keep adding and removing scrips they recommend and market it to other users who would like to follow them but dont have the time to manually track their each move."

			.row
				.col

					h2.description__title.description__title-2.c-subtitle!= "So what will all of this cost you?"
					p.description__text.description__text-2.description__text--last.c-text!= "Our fees are fairly straightforward and depends on your success on our platform.<br>1) A monthly fee to become a Tradetron subscriber and list your strategy on the marketplace<br>2) A small percentage of your fees depending upon your subscription plan. See the pricing page for details."

// SECTION description :: END
