// SECTION strategy summary :: START

.strategy__section.deployed__summary.p-3

	p.deployed__summary-title.pb-3!= "Summary"

	.deployed__summary-block
		div.mb-4.mb-md-0
			p!= "<strong>Today/Expiry:</strong> 0"
		div.mb-4.mb-md-0
			p!= "<strong>Margin:</strong> 3647328901"
		div
			p!= "<strong>P&L:</strong> 3546282"
		div
			p!= "<strong>Positions:</strong> 36453291"

// SECTION strategy summary :: END
