.u-profile__main.u-profile__section.mb-4.position-relative

	.u-profile__main-bg.position-absolute.w-100

	.u-profile__main-body

		.u-profile__main-image
			div
				img(src="img/img-profile.png" srcset="img/img-profile@2x.png 2x" alt="" title="")

		p.u-profile__main-name.pt-3!= "John Snow"
		p.u-profile__main-from.pb-5!= "London, UK"

		.u-profile__main-stat.d-flex.align-items-center.pb-5.pl-3.pr-3
			div
				p.pb-3!= "135"
				span!= "Subscribers"
			div
				p.pb-3!= "25%"
				span!= "ROI"

		.u-profile__main-social.pl-3.pr-3.pb-4.d-flex.align-items-center
			div
				a.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
					i.icon-font.icon-facebook
			div
				a.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
					i.icon-font.icon-twitter
			div
				a.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
					i.icon-font.icon-linkedin
			div
				a.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
					i.icon-font.icon-comment
			div
				a.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
					i.icon-font.icon-envelope1
			div
				a.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
					i.icon-font.icon-desktop
