.u-profile__main.u-profile__section.mb-4.position-relative

	.u-profile__main-bg.position-absolute.w-100

	a.u-profile__main-photo(href="#" class="" title="")
		i.icon-font.icon-photo-camera

	p.u-profile__main-badge!= "Last seen 5 min ago"

	.u-profile__main-image
		div
			img(src="img/img-profile.png" srcset="img/img-profile@2x.png 2x" alt="" title="")

	.u-profile__main-body

		div.pt-3.pb-5
			p.u-profile__main-name!= "John Snow"
			p.u-profile__main-from!= "London, UK"

		div.pb-5
			.u-profile__main-stat.d-flex.align-items-center
				div
					p.pb-3!= "135"
					span!= "Subscribers"
				div
					p.pb-3!= "25%"
					span!= "ROI"

		div.pl-3.pr-3.pb-4
			.u-profile__main-social.d-flex.align-items-center
				div
					a.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
						i.icon-font.icon-facebook
				div
					a.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
						i.icon-font.icon-twitter
				div
					a.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
						i.icon-font.icon-linkedin
				div
					a.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
						i.icon-font.icon-comment
				div
					a.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
						i.icon-font.icon-envelope1
				div
					a.d-flex.align-items-center.justify-content-center(href="#" class="" title="")
						i.icon-font.icon-desktop
