.u-profile__subscribed.u-profile__section.mb-4
	.u-profile__section-cover.px-3.py-4

		.u-profile__section-header.pb-3
			div
				p.u-profile__section-title!= "Subscribed strategies"
			div

				.dropdown.dropdown--more
					button#dropdownUProfileSubscribedMore.btn.dropdown-toggle.d-flex.align-items-center.justify-content-center.p-0(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
						i.icon-font.icon-more
					.dropdown-menu.animate.slideIn(aria-labelledby='dropdownUProfileSubscribedMore')
						.dropdown-menu-corner.position-absolute
						.dropdown-menu-wrapper.d-flex.flex-column
							a.dropdown-item.d-flex.align-items-center(href='#')
								div
									span!= "Action"
							a.dropdown-item.d-flex.align-items-center(href='#')
								div
									span!= "Some action"
							a.dropdown-item.d-flex.align-items-center(href='#')
								div
									span!= "More action"

		.u-profile__subscribed-carousel
			mixin swiperContent()
				.swiper-slide
					p.swiper-slide-title!= "Midbass <span>(20 subscribers)</span>"
					.swiper-slide-block
						div
							p!= "ROI"
							span!= "20 %"
						div
							p!= "DD"
							span!= "25 %"
						div
							p!= "Min Capital"
							span!= "Rs.50000"
						div
							p!= "Fees per month"
							span!= "Rs.5000 + 20%"

				.swiper-slide
					p.swiper-slide-title!= "Covered call <span>(2 subscribers)</span>"
					.swiper-slide-block
						div
							p!= "ROI"
							span!= "20 %"
						div
							p!= "DD"
							span!= "25 %"
						div
							p!= "Min Capital"
							span!= "Rs.50000"
						div
							p!= "Fees per month"
							span!= "Rs.5000 + 20%"

				.swiper-slide
					p.swiper-slide-title!= "Momentum</span>"
					.swiper-slide-block
						div
							p!= "ROI"
							span!= "20 %"
						div
							p!= "DD"
							span!= "25 %"
						div
							p!= "Min Capital"
							span!= "Rs.50000"
						div
							p!= "Fees per month"
							span!= "Rs.5000 + 20%"

			+swiper('swiper-container-subscribed', 'swiperContent', true, false, false)

		.u-profile__subscribed-table
			.u-profile__subscribed-table-head
				div
					p!= "Name"
				div
					p!= "ROI"
				div
					p!= "DD"
				div
					p!= "Min Capital"
				div
					p!= "Fees per month"
				div
					p!= "Subscribers"
			each val, idx in [1,2,3]
				.u-profile__subscribed-table-body
					div
						if(idx === 0)
							p!= "Midbass"
						else if (idx === 1)
							p!= "Covered call"
						else
							p!= "Momentum"
					div
						span!= "20%"
					div
						span!= "25%"
					div
						span!= "Rs.50000"
					div
						span!= "Rs.50000+20%"
					div
						if(idx === 0)
							span!= "20"
						else if (idx === 1)
							span!= "2"
						else
							span!= "0"
