// SECTION account profile notifications :: START

.a-profile__section.d-flex.flex-column.px-3.pb-3.a-profile__notifications

	.a-profile__section-head
		p.a-profile__section-title!= "Notifications"

	.a-profile__section-body.pt-5.pb-4

		form(action="" autocomplete="off")

			.a-profile__notifications-table
				table.table.mb-5
					thead
						tr
							th(scope='row')!= "Event"
							th(scope='row')!= "Communication Method"
					tbody
						tr
							td New Position
							td
								div.pb-3.d-flex.align-items-start.align-items-md-center.justify-content-end.flex-column.flex-md-row
									span.pr-4 Self
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfNew_sms")
										label(class="form-check-label" for="notification_selfNew_sms")!= "SMS"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfNew_whatsapp")
										label(class="form-check-label" for="notification_selfNew_whatsapp")!= "Whatsapp"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfNew_call")
										label(class="form-check-label" for="notification_selfNew_call")!= "Call"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfNew_email")
										label(class="form-check-label" for="notification_selfNew_email")!= "Email"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
								div.d-flex.align-items-start.align-items-md-center.justify-content-end.flex-column.flex-md-row
									span.pr-4 Broker
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_brokerNew_sms")
										label(class="form-check-label" for="notification_brokerNew_sms")!= "SMS"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_brokerNew_whatsapp")
										label(class="form-check-label" for="notification_brokerNew_whatsapp")!= "Whatsapp"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_brokerNew_call")
										label(class="form-check-label" for="notification_brokerNew_call")!= "Call"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline
										input(class="form-check-input" type="checkbox" name="name_" id="notification_brokerNew_email")
										label(class="form-check-label" for="notification_brokerNew_email")!= "Email"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
						tr
							td Errors
							td
								div.pb-3.d-flex.align-items-start.align-items-md-center.justify-content-end.flex-column.flex-md-row
									span.pr-4 Self
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfError_sms")
										label(class="form-check-label" for="notification_selfError_sms")!= "SMS"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfError_whatsapp")
										label(class="form-check-label" for="notification_selfError_whatsapp")!= "Whatsapp"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfError_call")
										label(class="form-check-label" for="notification_selfError_call")!= "Call"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfError_email")
										label(class="form-check-label" for="notification_selfError_email")!= "Email"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
								div.d-flex.align-items-start.align-items-md-center.justify-content-end.flex-column.flex-md-row
									span.pr-4 Broker
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_brokerError_sms")
										label(class="form-check-label" for="notification_brokerError_sms")!= "SMS"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_brokerError_whatsapp")
										label(class="form-check-label" for="notification_brokerError_whatsapp")!= "Whatsapp"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_brokerError_call")
										label(class="form-check-label" for="notification_brokerError_call")!= "Call"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline
										input(class="form-check-input" type="checkbox" name="name_" id="notification_brokerError_email")
										label(class="form-check-label" for="notification_brokerError_email")!= "Email"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
						tr.middle
							td New Message
							td
								div.d-flex.align-items-start.align-items-md-center.justify-content-end.flex-column.flex-md-row
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfMess_sms")
										label(class="form-check-label" for="notification_selfMess_sms")!= "SMS"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfMess_whatsapp")
										label(class="form-check-label" for="notification_selfMess_whatsapp")!= "Whatsapp"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfMess_call")
										label(class="form-check-label" for="notification_selfMess_call")!= "Call"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfMess_email")
										label(class="form-check-label" for="notification_selfMess_email")!= "Email"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
						tr.middle
							td New Subscriber
							td
								div.d-flex.align-items-start.align-items-md-center.justify-content-end.flex-column.flex-md-row
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfSubscribe_sms")
										label(class="form-check-label" for="notification_selfSubscribe_sms")!= "SMS"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfSubscribe_whatsapp")
										label(class="form-check-label" for="notification_selfSubscribe_whatsapp")!= "Whatsapp"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfSubscribe_call")
										label(class="form-check-label" for="notification_selfSubscribe_call")!= "Call"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfSubscribe_email")
										label(class="form-check-label" for="notification_selfSubscribe_email")!= "Email"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
						tr.middle
							td Daily Summary
							td
								div.d-flex.align-items-start.align-items-md-center.justify-content-end.flex-column.flex-md-row
									.form-check.form-check-inline
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfDaily_email")
										label(class="form-check-label" for="notification_selfDaily_email")!= "Email"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
						tr.middle
							td Monthly Summary
							td
								div.d-flex.align-items-start.align-items-md-center.justify-content-end.flex-column.flex-md-row
									.form-check.form-check-inline
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfMonthly_email")
										label(class="form-check-label" for="notification_selfMonthly_email")!= "Email"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
						tr.middle
							td Subscription Expiring
							td
								div.d-flex.align-items-start.align-items-md-center.justify-content-end.flex-column.flex-md-row
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfExpiring_sms")
										label(class="form-check-label" for="notification_selfExpiring_sms")!= "SMS"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfExpiring_whatsapp")
										label(class="form-check-label" for="notification_selfExpiring_whatsapp")!= "Whatsapp"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfExpiring_call")
										label(class="form-check-label" for="notification_selfExpiring_call")!= "Call"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfExpiring_email")
										label(class="form-check-label" for="notification_selfExpiring_email")!= "Email"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
						tr.middle
							td Subscription Welcome
							td
								div.d-flex.align-items-start.align-items-md-center.justify-content-end.flex-column.flex-md-row
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfWelcome_sms")
										label(class="form-check-label" for="notification_selfWelcome_sms")!= "SMS"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfWelcome_whatsapp")
										label(class="form-check-label" for="notification_selfWelcome_whatsapp")!= "Whatsapp"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline.pr-2
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfWelcome_call")
										label(class="form-check-label" for="notification_selfWelcome_call")!= "Call"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
									.form-check.form-check-inline
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfWelcome_email")
										label(class="form-check-label" for="notification_selfWelcome_email")!= "Email"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit
						tr.middle
							td Subscription Broadcast
							td
								div.d-flex.align-items-start.align-items-md-center.justify-content-end.flex-column.flex-md-row
									.form-check.form-check-inline
										input(class="form-check-input" type="checkbox" name="name_" id="notification_selfBroadCast_email")
										label(class="form-check-label" for="notification_selfBroadCast_email")!= "Email"
										a.ml-2(href="#" class="" title="")
											i.icon-font.icon-pencil-edit

			.a-profile__section-btn-wrapper
				button.a-profile__section-btn.c-btn.c-btn--bg(type="submit")!= "Save"


// SECTION account profile notifications :: END
