// SECTION disposal :: START

section#disposal.disposal
	.disposal__wrapper.disposal__wrapper-0

		.container
			.row
				.col

					h2.disposal__title.c-subtitle.text-center!= "The features at your disposal"

	.disposal__wrapper.disposal__wrapper-1
		.container
			.row
				.col-12.col-lg-6

					.disposal__card

						mixin swiperContent()
							a.card.swiper-slide.is-active(href="#" title="" data-btn-id='0')
								.card-body.d-flex.p-3.align-items-center
									div
										i.icon-font.icon-checklist
									div.d-flex.align-items-center
										p!= "Order Management"
							a.card.swiper-slide(href="#" class="" title="" data-btn-id='1')
								.card-body.d-flex.p-3.align-items-center
									div
										i.icon-font.icon-analytics
									div.d-flex.align-items-center
										p!= "Price Execution"
							a.card.swiper-slide(href="#" class="" title="" data-btn-id='2')
								.card-body.d-flex.p-3.align-items-center
									div
										i.icon-font.icon-puzzle
									div.d-flex.align-items-center
										p!= "Tranches"
							a.card.swiper-slide(href="#" class="" title="" data-btn-id='3')
								.card-body.d-flex.p-3.align-items-center
									div
										i.icon-font.icon-maze
									div.d-flex.align-items-center
										p!= "Lot Rounding off"
							a.card.swiper-slide(href="#" class="" title="" data-btn-id='4')
								.card-body.d-flex.p-3.align-items-center
									div
										i.icon-font.icon-idea
									div.d-flex.align-items-center
										p!= "Market Making"
							a.card.swiper-slide(href="#" class="" title="" data-btn-id='5')
								.card-body.d-flex.p-3.align-items-center
									div
										i.icon-font.icon-stop
									div.d-flex.align-items-center
										p!= "Trailing Stop"
							a.card.swiper-slide(href="#" class="" title="" data-btn-id='6')
								.card-body.d-flex.p-3.align-items-center
									div
										i.icon-font.icon-workflow
									div.d-flex.align-items-center
										p!= "Re-activate strategy frequency"
							a.card.swiper-slide(href="#" class="" title="" data-btn-id='7')
								.card-body.d-flex.p-3.align-items-center
									div
										i.icon-font.icon-shield
									div.d-flex.align-items-center
										p!= "Overnight protection"
							a.card.swiper-slide(href="#" class="" title="" data-btn-id='8')
								.card-body.d-flex.p-3.align-items-center
									div
										i.icon-font.icon-clock
									div.d-flex.align-items-center
										p!= "No-Trading time zone padding"
							a.card.swiper-slide(href="#" class="" title="" data-btn-id='9')
								.card-body.d-flex.p-3.align-items-center
									div
										i.icon-font.icon-deadline
									div.d-flex.align-items-center
										p!= "Rollover on expiry"

						+swiper('swiper-container-disposal', 'swiperContent', true, false, false)

				.col-12.col-lg-6
					.disposal__desc.is-active(data-text-id='0')
						p!= "A range of order types. Market price, stop price, target price each with their own trigger price. You have the option to:"
						ul
							li
								span!= "Submit all positions at one go or enter most illiquid position first or in order of list of positions"
							li
								span!= "Reverse entered positions if some balance positions unfilled"
					.disposal__desc(data-text-id='1')
						p!= "Built-in price execution algorithms allow you to get better execution prices. You have an option to choose:"
						ul
							li
								span!= "Avg of Bid/Ask"
							li
								span!= "One Tick above top price which you can update as per the time you set"
							li
								span!= "VWAP"
							li
								span!= "TWAP"
							li
								span!= "Market Price"
					.disposal__desc(data-text-id='2')
						p!= "When strategies have multiple positions of large quantities executing one after another will leave you unhedged for a bit. To prevent this, it’s best to execute all positions in smaller tranches. By doing this the smaller quantity of all positions will be completed before moving on to the next tranche. This is possible in 2 ways:"
						ul
							li
								span!= "As a Percentage or total size"
							li
								span!= "Max Lots per execution"
					.disposal__desc(data-text-id='3')
						p!= "Quantities that don’t round off to a lot size can be evened out using 2 options:"
						ul
							li
								span!= "To the higher lot qty or lower lot qty"
					.disposal__desc(data-text-id='4')
						p!= "This is specifically for when you are using a market making strategy where you are buying and selling the same instrument at a different price. Inventory Page 4! of !27 risk occurs when only one position fills and not the other. To handle this you have these options:"
						ul
							li
								span!= "To update unfilled positions price as per your specified time"
							li
								span!= "To update new prices if underlying IV or spot price changes"
							li
								span!= "To cancel unfilled positions"
							li
								span!= "To wait for unfilled positions to get filled before increasing book size"
							li
								span!= "To exit unfilled positions at market price after a specified time"
					.disposal__desc(data-text-id='5')
						p!= "A trailing stop is a stop order that can be set to increase in tandem with your profit. You have the following options:"
						ul
							li
								span!= "To move the trailing stop to cost at a specified profit level and then"
							li
								span!= "To move the trailing stop by a certain amount with every increase in profit"
					.disposal__desc(data-text-id='6')
						p!= "There is a choice to reactivate a strategy, manually or automatically, once it has entered and exited. Your options are:"
						ul
							li
								span!= "Automatically every hour / day / week / month / quarter / 6 months / year"
							li
								span!= "Manually"
					.disposal__desc(data-text-id='7')
						p!= "The positions entered in this block are automatically taken at the end of every day and reversed automatically at the beginning of the next day. This feature could be used to protect your short option positions from any possible black swan events."
					.disposal__desc(data-text-id='8')
						p!= "If your strategy requires you to not trade in (for instance) the first fifteen or the last fifteen minutes of the exchange opening, that can be set here."
					.disposal__desc(data-text-id='9')
						p!= "For futures and options strategies if you need to close out open positions in contracts that are about to expire in favour of contracts that are expiring later, you can do it automatically here."


// SECTION disposal :: END
