// SECTION power :: START

section#power.power

	.power__bg.position-absolute.w-100.h-100
		.power__bg-img.power__bg-img--top.position-absolute.w-100
		.power__bg-img.power__bg-img--bottom.position-absolute.w-100

	.power__wrapper

		.container
			.row
				.col-12.col-lg-6
					h2.power__subtitle.power__subtitle-1.c-subtitle!= "The power of multiple sets <br>per strategy"
					p.power__text.c-text!= "Imagine an algo strategy with multiple smaller strategies within it. Each set has its own entry/repair/overnight protection and exit conditions along with a universal repair and universal exit for the whole strategy which supersedes the individual set conditions."
					p.power__text.c-text!= "So instead of having 5 different strategies, you can now have 5 sets all within the same strategy. Here’s how it helps. You can now club your returns, combine different strategy basket types for portfolio diversification. All while marketing one single strategy to your subscribers. Simple yet incredibly powerful."

				.col-12.col-lg-6
					h2.power__subtitle.power__subtitle-2.c-subtitle!= "The power of underlying list"
					p.power__text.c-text!= "Per set, you can either choose a single underlying or a list of underlyings on which you can run your conditions. Never before have you seen the power of creating a complex multi position strategy on a list of underlyings. Now you can ! Apply your favorite technical indicator or any other criterion (IV, 52 week high, etc) on a list of underlyings and then take any number of positions for the ones which satisfy the condition."


// SECTION power :: END
