// SECTION reports :: START

section#reports.reports
	.reports__wrapper.reports__wrapper-0

		.container
			.row
				.col

					h2.reports__title.c-subtitle.text-center!= "Reports"
					p.reports__text.c-text.text-center!= "In the world of algo trading, reports are like a torch in a dark room. Their data sheds light on where you made money, where you lost money, what you’re getting right and what needs to be fixed. With Tradetron you get a single interface, with unlimited easy-to-understand reports. Simply save them in a PDF/Excel to refer to in your own time."

	.reports__wrapper.reports__wrapper-1

		.container
			.row
				.col-12.col-md-8.offset-md-2.col-lg-4.offset-lg-0.pb-5.pb-lg-0

					.reports__block.d-flex
						.reports__block-left
							i.icon-font.icon-success
						.reports__block-right
							p!= "Filter reports based on Broker / Underlying / Strategy/ Creator / ExecutionType / Strategy Type"

				.col-12.col-md-8.offset-md-2.col-lg-4.offset-lg-0.pb-5.pb-lg-0

					.reports__block.d-flex
						.reports__block-left
							i.icon-font.icon-success
						.reports__block-right
							p!= "Group reports based on Broker / Strategy / Creator/ Underlying / Profitable/ StrategyType / ExecutionType"

				.col-12.col-md-8.offset-md-2.col-lg-4.offset-lg-0

					.reports__block.d-flex
						.reports__block-left
							i.icon-font.icon-success
						.reports__block-right
							p!= "Sum / Avg / Count of all numerical fields"


// SECTION reports :: END
