// SECTION stages :: START

section#stages.stages
	.stages__wrapper

		.container
			.row
				.col

					h2.stages__title.stages__title-0.c-subtitle.text-center!= "Recommended Strategy Development Stages"

			.row
				.col

					img.d-none.d-md-block.img-fluid.ml-auto.mr-auto(src="img/infographic-3.png" srcset="img/infographic-3@2x.png, img/infographic-3@3x.png" alt="" title="")
					img.d-block.d-md-none.img-fluid.ml-auto.mr-auto(src="img/infographic-3-mobile.png" srcset="img/infographic-3-mobile@2x.png, img/infographic-3-mobile@3x.png" alt="" title="")

			.row
				.col

					h2.stages__title.stages__title-1.c-subtitle!= "Backtesting Engine"
					p.stages__text.stages__text-0.c-text.pb-5!= "Lack of past data on which your conditions are built is usually the biggest hurdle of any backtest. Reason why we have a large amount of historical data at your disposal. From IV, HV, corporate events, price data of all Futures and Options instruments and more. Essentially everything you need to test your strategy with past data and tweak it till it’s good to go into forward testing. A simple, yet powerful safeguard. Backtesting and live trading produce diverse results. One of the main reasons for this is slippage. How this works is when you actually take the trades in the live market, you don’t get the rates your backtesting predicted. The way around this is simple - we give you three options to do your backtesting - assuming you got the best price, the worst price or the average of the bid and ask on that day. If your strategy shows good results even with the worst price execution, you can enter live trades with greater confidence."


			.row
				.col-12.col-lg-6

					h2.stages__title.stages__title-2.c-subtitle!= "Backtesting reporting module"
					p.stages__text.stages__text-1.c-text.pb-5.pb-lg-0!= "When you do backtesting for a single instrument or position, it’s easy to judge how the results look. Do the same on a multitude of positions in a strategy and you will need deeper reports which give you a clear insight as to what the strategy was doing on each day of the backtesting period. Our backtesting reporting module does just that by giving you a detailed position analysis at the end of each day in the backtesting period, the trades it took, the condition which got satisfied so that you can tweak them until you get it right. These backtesting results can then be made available on your strategy profile page."

				.col-12.col-lg-6

					h2.stages__title.stages__title-2.c-subtitle!= "Unlimited backtesting"
					p.stages__text.stages__text-1.c-text!= "Your success is our success. And that success calls for perfection. Of course, that’s something that takes time. So our goal is to allow you all the time you need to achieve perfection. That’s why even though backtesting is a resource hungry feature, we offer an unlimited number of backtests in all our paid packages. So go ahead then, backtest tlll you get it right."

// SECTION stages :: END
