// SECTION strategies :: START

mixin cardList(val)
	li.card__list-item.d-flex
		div
			i.icon-font.icon-check
		div
			p!= val

section#strategies.strategies
	.strategies__wrapper

		.container
			.row
				.col

					h2.strategies__title.c-subtitle.text-center!= "Algo Strategies for every kind of investor or trader"

					.card
						.card-body.py-4.p-md-5

							p.card__title.text-center!= "I’m getting started"

							ul.card__list.d-flex.flex-column
								+cardList('Directional Strategies using fundamental or technical data.')
								+cardList('Wealth building strategies - Buy and Hold. Portfolio building based on fundamental factors.')
								+cardList('Options or Futures strategies using Technical analysis based conditions')

					.card
						.card-body.py-4.p-md-5

							p.card__title.text-center!= "I know what I’m doing"

							ul.card__list.d-flex.flex-column
								+cardList('Quant model strategies: using any statistical / mathematical logic you can think of can be used to develop the conditions for Entry / Repair or Exiting. Could be Trend following or mean reverting; intraday or positional.')
								+cardList('Pair trading strategies using any correlation / co-integration model you might already have. When the correlation between two securities demonstrate a temporary weakness, a pairs trade is opened by shorting the outperforming stock and going long on the underperforming stock.')
								+cardList('Volatility based strategies like Skew scalping, Reverse Gamma scalping strategies to scalp theta during a high IV environment or Gamma scalping in a high vol environment by paying daily theta using multiple option instruments of one or multiple underlings. The building blocks of the strategy are combinations of instruments, such as strangles, butterflies or any other complex set you can imagine.')
								+cardList('Event based strategies taking into account factors like Corporate results, Central Bank policy events, Political uncertainty.')
								+cardList('Income focused strategies such as Expiry trading, theta scalping')
								+cardList('Arbitrage strategies across exchanges. If you have an account with 2 different commodity exchanges, you can buy the same commodity in one and sell in the other when a certain price difference condition is satisfied. With live FX rates to calculate the price difference.')
								+cardList('Greeks management on all live strategies by making them delta neutral, gamma neutral, theta neutral amongst other adjustments.')
								+cardList('Market making strategies by submitting a bid and asking for the same instrument based on prevalent spreads.')

					p.strategies__desc.c-text!= "Many of the templates for the strategies listed above are provided by Tradetron for free for you to duplicate and make changes as per your logic. Search the marketplace and start your no risk paper trading. Have something unique which cant be implemented using the wizard or then if you wish to outsource this job to us, simply write to us and we will be happy to provide you with a quote for it."

// SECTION strategies :: END
