// SECTION trading :: START

section#trading.trading.position-relative

	.trading__wrapper

		.container
			.row
				.col-12.col-md-6
				.col-12.col-md-6

					h2.trading__title.c-subtitle!= "Social Trading"
					p.trading__text.c-text!= "If you’re new to the market, social trading is what you need. At its simplest it allows you to sift through hundreds of strategies, see key statistics and choose the ones you want to add to your portfolio. Since all the data is transparently available you can take into consideration additional factors, such as trading strategy past performance, backtesting results and asset-types."
					ul.trading__list
						li.trading__list-item
							p.c-text!= "By enabling users to copy one another, Tradetron makes it easy for those who lack time or even the know-how to trade online. Simply follow another traders strategy, anything they do is automatically replicated in real-time in your portfolio."
						li.trading__list-item
							p.c-text!= "As an investor instantly gain access to multiple strategy providers and execute your strategies directly through your own brokers account."
						li.trading__list-item
							p.c-text!= "Search for a strategy using the powerful filtering tools, subscribe to a strategy which suits your trading style and you are all set!"

	.trading__bg.w-100.h-100.d-flex.align-items-center
		div.pt-5.pt-md-0
			img.d-block.img-fluid(src="img/img-trading.png" alt="" title="")

// SECTION trading :: END
